@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Noto+Sans:wght@500;700&display=swap');

* *::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 65%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

ul {
    list-style-type: none;
    display: flex;
}

.cart-overview {
    width: 550px;
    background-color: #374140;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-height: 376px;
}

header {
    color: #C3C3C3;
    font-weight: 700;
    display: flex;
    gap: 45px;
    justify-content: center;

}

.years {
    margin: 80px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

.current_year {
    font-size: 24px;
    font-weight: 600;
    color: #D2D9D9;
}

.prev_year,
.next_year {
    margin: 4px 0 0;
    color: #818A89;
    font-size: 17px;
    cursor: pointer;
}

.weeks {
    margin: 25px 0 0;
    display: flex;
    gap: 32px;
    font-size: 16px;
    color: #9F9E92;
    justify-content: center;
    font-weight: 900;
}

.monthes {
    display: flex;
    justify-content: space-between;
}

.days {
    margin: 30px 0 0;
    font-size: 22px;
    display: grid;
    grid-template-columns: repeat(7, 55px);
    justify-content: center;
    grid-gap: 10px 4px;
}

.days li {
    width: 42px;
    height: 42px;
    color: #d2d9d9;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: relative;
    font-family: 'Bricolage Grotesque',
        sans-serif;
}

/* .days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
} */

.days li:hover {
    background-color: #000;
}

.days li.selectedItem::after,
.days li.planned::after {
    content: '';
    border: 3px solid #364240;
    border-radius: 50%;
    position: absolute;
    inset: 3px;

}

.days li.planned {
    background-color: #FDBF7E;
    color: #364240;
    cursor: auto !important;
}

.days li.selectedItem:not(.planned) {
    background-color: #C1DE39;
    color: #000;
}


.days li .calendar .weeks li {
    font-weight: 700;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}

.activeMonth {
    color: #ffffff;
}

.activeYear {
    color: #C2C2C2;
    font-size: 20px;
    font-weight: 700;
}

.days li.outher_month {
    color: #aaa;
    pointer-events: none;
}

.days li.active {
    color: #374140;
}



.monthes-list {
    width: 380px;
    padding: 0;
    text-align: center;
    display: flex;
    overflow: hidden;
    gap: 5px;
    scroll-behavior: smooth;
}

.monthes-list button {
    background: transparent;
    border: none;
    min-width: 70px;
    color: #D2D9D9;
    font-size: 28px;
    font-weight: 200;
    cursor: pointer;
}

.monthes-list button.selectedMonth {
    font-weight: 700;
}

.monthes {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.monthes .prev,
.monthes .next {
    aspect-ratio: 1 / 1;
    position: absolute;
}

.monthes .prev {
    left: 50px;
}

.monthes .next {
    right: 50px
}

.monthes .span.inactive {
    opacity: .5;
    pointer-events: none;
}

.monthes span {
    cursor: pointer;
}

/*CART detail */
.cart-detail {
    background-color: #ED8071;
    z-index: 1;
}

.hed-text {
    color: #000;
    padding: 4rem;
    background: #FCBF7E;
    color: #000;
    font-size: 20px;
}

.event-list {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    min-height: 475px;
    min-width: 475px;
}

.event-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background: inherit;
    border-bottom: 2px solid;
}

.event-item .text h1 {
    color: #FFEBBC;
}

img {
    width: 45px;
}

.icon-control {
    cursor: pointer;
    margin-left: auto;
}

.icon-control span {
    margin: 0 10px;
}

.text h1 {
    text-transform: uppercase;
}

.text p {
    font-size: 14px;
}

.event-btn {
    background: #364240;
    color: #D2D9D9;
    margin: 30px auto;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    cursor: pointer;
}

/* add-new-event-container */
.add-new-event-container.hidden,
.container-event-edit.hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.add-new-event-container,
.container-event-edit {
    position: absolute;
    transform: translate(-50%, -100%);
    width: 400px;
    background-color: #ED8071;
}

.new-event-hed {
    text-transform: uppercase;
    background-color: #FCBF7E;
    padding: 2rem 3rem;
    color: #ED8071;
    justify-content: space-between;
}

.new-event-hed h1 {
    font-size: 22px;
    color: #000;
}

.new-event-hed span {
    cursor: pointer;
}

.event-new-content,
.event-edit-content {
    padding: 2rem 3rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
}

.form-control label {
    font-size: 20px;
    text-transform: uppercase;
    color: #364240;
    font-weight: 700;
}

.form-control input:not(.inputEventNew) {
    padding: 1rem 2rem;
    border: 5px solid #364240;
    outline: none;
    border-radius: 13px;
    background: transparent;
    font-size: 16px;
}

.form-control p {
    font-size: 20px;
    text-transform: uppercase;
    color: #364240;
    font-weight: 700;
}

/* select item Container */
.selectIconList,
.selectIconListEdit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    position: relative;
    padding: 0;
}

.selectIconList li {
    cursor: pointer;
}

.selectIconList label {
    border: 3px solid transparent;
    width: 55px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.iconEventSelectNew {
    position: relative;
    display: grid;
    place-content: center;
}

.inputEventNew {
    /*to delete the default styling for input radio*/
    appearance: none;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 11px;
}

.inputEventNew:checked {
    border: 3px solid #364240;
}